<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>user1</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user1</servlet-name>
    <url-pattern>/Login.tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user3</servlet-name>
    <servlet-class>com.servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user3</servlet-name>
    <url-pattern>/Note.tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>note2</servlet-name>
    <servlet-class>com.servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>note2</servlet-name>
    <url-pattern>/admin/Note.tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>note3</servlet-name>
    <servlet-class>com.servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>note3</servlet-name>
    <url-pattern>/jsp/Note.tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user4</servlet-name>
    <servlet-class>com.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user4</servlet-name>
    <url-pattern>/Login2.tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user7</servlet-name>
    <servlet-class>com.servlet.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user7</servlet-name>
    <url-pattern>/jsp/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user8</servlet-name>
    <servlet-class>com.servlet.UpLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user8</servlet-name>
    <url-pattern>/jsp/Upload</url-pattern>
  </servlet-mapping>
</web-app>